<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>hello !</h1>
    <h1>please log in</h1>
    <% if (error) { %>
        <p style="color:red">Incorrect username or password</p>
        <% } %>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="username" type="text" />
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <button type="submit">Log In</button>
            </form>
            <a href="/signup">Sign-up</a>

</body>

</html>