<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <p><%= currentUser ? currentUser.username : 'Guest' %>, this is your profile page</p>
    <p>Admin: <%= currentUser.is_admin ? "Yes" : "No" %></p>
    <a href="/messages">Back to messages</a>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

</body>

</html>